@media (min-width: 320px) and (max-width: 575px) {
  .navbar-light .navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background: white;
    bottom: 5px;
    left: 10%;
    transform: translateX(-50%);
    transition: 0.25s all ease-in-out;

  }
  
}
